body {
  background-color: bisque;
}
.App {
  padding: 50px;
  font-size: 20px;
  text-align: center;
}
.App button {
  margin-top: 20px;
  padding: 15px;
  background-color: #444444;
  color: #fff;
}
