.list-link {
  background-color: white;
  color: #636e72;
  font-weight: 700;
  letter-spacing: 1.5px;
  border: 1px solid #636e72;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.5em;
  transition: 0.2s;
}
.list-link:hover {
  background-color: #d8d4f9;
  cursor: pointer;
}
.list-link.isActive {
  background-color: #6c5ce7;
  color: #dfe6e9;
}
